**
!/app
!/bootstrap
!/config
!/database
!/docker/apache/etc
!/hasura
!/public
!/resources
!/routes
!/storage
!/tests
!artisan
!composer.json
!composer.lock
!package.json
!phpunit.xml
!webpack.mix.js
